acme==1.22.0
amqp==5.1.1
anyio==3.6.1
anyjson==0.3.3
asgiref==3.5.2
asyncio==3.4.3
asyncpg==0.25.0
attrs==22.1.0
backports.zoneinfo==0.2.1
billiard==3.6.4.0
bleach==5.0.1
cachetools==5.2.0
celery==5.2.7
certbot==1.22.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudinary==1.29.0
commonmark==0.9.1
ConfigArgParse==1.5.3
configobj==5.0.6
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.1
Deprecated==1.2.13
distro==1.6.0
dj-database-url==0.5.0
dj-static==0.0.6
dj3-cloudinary-storage==0.0.6
Django==3.2
django-cloudinary-storage==0.3.0
django-cors-headers==3.13.0
django-elasticsearch-dsl==7.1.2
django-elasticsearch-dsl-drf==0.22.4
django-extensions==3.1.5
django-filter==22.1
django-haystack==2.4.1
django-model-utils==4.2.0
django-modeladmin-reorder==0.3.1
django-modeltranslation==0.17.5
django-nested-inline==0.4.4
django-nine==0.2.5
django-parler-rest==2.1
django-redis==5.2.0
django-rest-swagger==2.2.0
django-smart-selects==1.5.9
django-timezone-field==4.2.3
djangorestframework==3.13.0
djangorestframework-api-key==2.2.0
djangorestframework-simplejwt==5.0.0
dnspython==2.2.1
docutils==0.19
drf-yasg==1.20.0
ecdsa==0.18.0
elasticsearch==7.10.1
elasticsearch-dsl==7.4.0
email-validator==1.1.3
et-xmlfile==1.1.0
fastapi==0.79.0
gevent==22.8.0
google-api-core==2.8.1
google-api-python-client==2.49.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.2
googledrivedownloader==0.4
graphviz==0.19.1
greenlet==1.1.3.post0
gunicorn==20.1.0
h11==0.14.0
httplib2==0.20.4
humanize==4.1.0
idna==3.3
importlib-metadata==4.12.0
inflection==0.5.1
iniconfig==1.1.1
install==1.3.5
itypes==1.2.0
Jinja2==3.0.3
josepy==1.11.0
keyring==23.8.1
kombu==5.2.4
loguru==0.6.0
MarkupSafe==2.0.1
minio==7.1.5
mock==4.0.3
ndg-httpsclient==0.5.1
numpy==1.22.3
oauth2client==4.1.3
openapi-codec==1.3.2
openpyxl==3.0.9
packaging==21.3
pandas==1.4.1
parsedatetime==2.6
Pillow==9.1.0
pkginfo==1.8.3
pluggy==1.0.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.20.1
psycopg2-binary==2.9.1
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.1
pydot==1.4.2
PyDrive==1.3.1
pyflakes==2.4.0
Pygments==2.12.0
PyJWT==2.3.0
pymongo==4.0.2
pyOpenSSL==21.0.0
pyparsing==3.0.6
pyRFC3339==1.1
pytest==7.1.3
pytest-asyncio==0.16.0
pytest-mock==3.6.1
python-crontab==2.6.0
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.19.2
python-jose==3.3.0
python-multipart==0.0.5
pytils==0.4.1
pytz==2021.3
PyYAML==6.0
readme-renderer==36.0
redis==3.5.3
requests==2.28.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.5.1
rsa==4.8
ruamel.yaml==0.17.19
ruamel.yaml.clib==0.2.6
schedule==1.1.0
simplejson==3.17.6
six @ file:///AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-103/six-1.15.0-py2.py3-none-any.whl
sniffio==1.2.0
SQLAlchemy==1.4.27
sqlparse==0.4.3
starlette==0.16.0
static3==0.7.0
tomli==2.0.1
tornado==6.1
twine==4.0.1
typing_extensions==4.0.0
uritemplate==4.1.1
urllib3==1.26.7
uvicorn==0.15.0
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==5.0.1
wrapt==1.14.1
zipp==3.8.1
zope.component==5.0.1
zope.event==4.5.0
zope.hookable==5.1.0
zope.interface==5.4.0
