acme==1.22.0
asgiref==3.4.1
certbot==1.22.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
ConfigArgParse==1.5.3
configobj==5.0.6
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.1
distro==1.6.0
dj-database-url==0.5.0
Django==3.2.9
django-cors-headers==3.10.1
django-elasticsearch-dsl==7.1.2
django-elasticsearch-dsl-drf==0.22.4
django-extensions==3.1.5
django-model-utils==4.2.0
django-modeltranslation==0.17.5
django-nested-inline==0.4.4
django-nine==0.2.5
django-smart-selects==1.5.9
djangorestframework==3.12.4
djangorestframework-simplejwt==5.0.0
drf-yasg==1.20.0
elasticsearch==7.10.1
elasticsearch-dsl==7.4.0
et-xmlfile==1.1.0
graphviz==0.19.1
idna==3.3
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.3
josepy==1.11.0
MarkupSafe==2.0.1
numpy==1.22.3
openpyxl==3.0.9
packaging==21.3
pandas==1.4.1
parsedatetime==2.6
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycparser==2.21
pydot==1.4.2
pyflakes==2.4.0
PyJWT==2.3.0
pymongo==4.0.2
pyOpenSSL==21.0.0
pyparsing==3.0.6
pyRFC3339==1.1
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
requests-toolbelt==0.9.1
ruamel.yaml==0.17.19
ruamel.yaml.clib==0.2.6
six==1.16.0
sqlparse==0.4.2
uritemplate==4.1.1
urllib3==1.26.7
whitenoise==5.3.0
zope.component==5.0.1
zope.event==4.5.0
zope.hookable==5.1.0
zope.interface==5.4.0
